<h3><i class="fas fa-handshake"></i> WorkBook</h3>
<div class="section">
    <p class="lead">Find job of your dreams</p>
</div>
<div class="divider"></div>
<div class="section">
    {{#if success_msg}}
    <div class="card-panel red darken-3">{{success_msg}}</div>
    {{/if}}
    {{#if error}}
    <div class="card-panel red darken-3">{{error}}</div>
    {{/if}}
    {{#if error_msg}}
    <div class="card-panel red darken-3">{{error_msg}}</div>
    {{/if}}
    <form action="/" method="POST">
        <input type="text" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <button type="submit" class="btn green darken-1">Log In</button>
    </form>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/register" class="btn red darken-1"><i></i> Sign In</a>
</div>



